[submodule "mesecons"]
	path = mesecons
	url = https://github.com/minetest-mods/mesecons
[submodule "anvil"]
	path = anvil
	url = https://github.com/minetest-mods/anvil
[submodule "areas"]
	path = areas
	url = https://github.com/minetest-mods/areas/
[submodule "markers"]
	path = markers
	url = https://github.com/Sokomine/markers
[submodule "basic_materials"]
	path = basic_materials
	url = https://github.com/mt-mods/basic_materials
[submodule "moreores"]
	path = moreores
	url = https://github.com/minetest-mods/moreores
[submodule "signs_lib"]
	path = signs_lib
	url = https://github.com/mt-mods/signs_lib
[submodule "basic_signs"]
	path = basic_signs
	url = https://github.com/mt-mods/basic_signs
[submodule "boost_cart"]
	path = boost_cart
	url = https://github.com/SmallJoker/boost_cart
[submodule "bridger"]
	path = bridger
	url = https://github.com/v-rob/bridger
[submodule "abriglass"]
	path = abriglass
	url = https://github.com/mt-mods/abriglass
[submodule "christmas"]
	path = christmas
	url = https://github.com/Extex101/christmas
[submodule "christmas_decor"]
	path = christmas_decor
	url = https://github.com/GreenXenith/christmas_decor
[submodule "climate_api"]
	path = climate_api
	url = https://github.com/t-affeldt/climate_api
[submodule "regional_weather"]
	path = regional_weather
	url = https://github.com/t-affeldt/regional_weather
[submodule "cucina_vegana"]
	path = cucina_vegana
	url = https://github.com/acmgit/cucina_vegana
[submodule "potted_farming"]
	path = potted_farming
	url = https://github.com/AnnalysaTheMinetester/potted_farming
[submodule "digiterms"]
	path = digiterms
	url = https://github.com/pyrollo/digiterms
[submodule "x_farming"]
	path = x_farming
	url = https://bitbucket.org/minetest_gamers/x_farming
[submodule "Minetest-WorldEdit"]
	path = Minetest-WorldEdit
	url = https://github.com/Uberi/Minetest-WorldEdit
[submodule "we_undo"]
	path = we_undo
	url = https://github.com/HybridDog/we_undo
[submodule "pvpplus"]
	path = pvpplus
	url = https://github.com/MT-Eurythmia/pvpplus
[submodule "intllib"]
	path = intllib
	url = https://github.com/minetest-mods/intllib
[submodule "moreblocks"]
	path = moreblocks
	url = https://github.com/minetest-mods/moreblocks
[submodule "xban2"]
	path = xban2
	url = https://github.com/minetest-mods/xban2
[submodule "simple_dialogs"]
	path = simple_dialogs
	url = https://github.com/Kilarin/simple_dialogs
[submodule "3d_armor"]
	path = 3d_armor
	url = https://github.com/minetest-mods/3d_armor
[submodule "minetest_mails"]
	path = minetest_mails
	url = https://gitlab.com/zughy-friends-minetest/minetest_mails
[submodule "unifieddyes"]
	path = unifieddyes
	url = https://github.com/mt-mods/unifieddyes.git
[submodule "ts_paper"]
	path = ts_paper
	url = https://github.com/minetest-mods/ts_paper
[submodule "wield3d"]
	path = wield3d
	url = https://github.com/stujones11/wield3d
[submodule "hopper"]
	path = hopper
	url = https://github.com/minetest-mods/hopper
[submodule "minetest_poi"]
	path = minetest_poi
	url = https://github.com/acmgit/minetest_poi
[submodule "unified_inventory"]
	path = unified_inventory
	url = https://github.com/minetest-mods/unified_inventory
[submodule "unified_inventory_plus"]
	path = unified_inventory_plus
	url = https://github.com/bousket/unified_inventory_plus
[submodule "edutest"]
	path = edutest
	url = https://github.com/zeuner/edutest
	branch = edutest-2022
[submodule "edutest-chatcommands"]
	path = edutest-chatcommands
	url = https://github.com/zeuner/edutest-chatcommands
	branch = edutest-2022
[submodule "freeze"]
	path = freeze
	url = https://github.com/IhrFussel/freeze
[submodule "minetest-mod-invis"]
	path = minetest-mod-invis
	url = https://github.com/octacian/minetest-mod-invis
[submodule "invincibility"]
	path = invincibility
	url = https://github.com/zeuner/invincibility
[submodule "itemshelf"]
	path = itemshelf
	url = https://github.com/hkzorman/itemshelf
[submodule "rhotator"]
	path = rhotator
	url = https://github.com/entuland/rhotator
[submodule "ehlphabet"]
	path = ehlphabet
	url = https://git.bananach.space/ehlphabet.git
[submodule "playeranim"]
	path = playeranim
	url = https://github.com/minetest-mods/playeranim
[submodule "digilines"]
	path = digilines
	url = https://github.com/minetest-mods/digilines
[submodule "warps"]
	path = warps
	url = https://github.com/minetest-mods/warps
[submodule "greenscreen"]
	path = greenscreen
	url = https://github.com/rollerozxa/greenscreen
[submodule "pipeworks"]
	path = pipeworks
	url = https://github.com/mt-mods/pipeworks
[submodule "facade"]
	path = facade
	url = https://github.com/TumeniNodes/facade
[submodule "digistuff"]
	path = digistuff
	url = https://cheapiesystems.com/git/digistuff
[submodule "swaz"]
	path = swaz
	url = https://github.com/runsy/swaz
[submodule "maptools"]
	path = maptools
	url = https://github.com/minetest-mods/maptools
[submodule "multitools"]
	path = multitools
	url = https://github.com/ChimneySwift/multitools
[submodule "cool_trees"]
	path = cool_trees
	url = https://github.com/runsy/cool_trees/
[submodule "lua-matrix"]
	path = lua-matrix
	url = https://github.com/entuland/lua-matrix
[submodule "minetestnutzungsbedingungen"]
	path = minetestnutzungsbedingungen
	url = https://github.com/chrbinder/minetestnutzungsbedingungen
[submodule "islands"]
	path = islands
	url = https://github.com/TheTermos/islands
[submodule "travelnet"]
	path = travelnet
	url = https://github.com/mt-mods/travelnet
[submodule "illumination"]
	path = illumination
	url = https://github.com/mt-mods/illumination
[submodule "minetest-hangglider"]
	path = minetest-hangglider
	url = https://notabug.org/Piezo_/minetest-hangglider
[submodule "currency"]
	path = currency
	url = https://github.com/mt-mods/currency
[submodule "church"]
	path = church
	url = https://github.com/sfence/church
[submodule "sailing_kit"]
	path = sailing_kit
	url = https://github.com/TheTermos/sailing_kit
[submodule "mobkit"]
	path = mobkit
	url = https://github.com/TheTermos/mobkit
[submodule "mapserver_mod"]
	path = mapserver_mod
	url = https://github.com/minetest-mapserver/mapserver_mod
[submodule "bulletin_boards"]
	path = bulletin_boards
	url = https://github.com/minetest-mods/bulletin_boards
[submodule "minetest_playerphysics"]
	path = minetest_playerphysics
	url = https://codeberg.org/Wuzzy/minetest_playerphysics
[submodule "xdecor-libre"]
	path = xdecor-libre
	url = https://codeberg.org/Wuzzy/xdecor-libre
[submodule "teleport-request"]
	path = teleport-request
	url = https://github.com/minetest-mods/teleport-request
[submodule "bible"]
	path = bible
	url = https://github.com/TEbinger/bible
[submodule "mail"]
	path = mail
	url = https://github.com/mt-mods/mail
[submodule "minetest-toolranks"]
	path = minetest-toolranks
	url = https://github.com/lisacvuk/minetest-toolranks
[submodule "serversay"]
	path = serversay
	url = https://github.com/Truemmerer/serversay
[submodule "tps_spill"]
	path = tps_spill
	url = https://github.com/Cat5TV/tps_spill
[submodule "campfire"]
	path = campfire
	url = https://github.com/Napiophelios/campfire
[submodule "skinsdb"]
	path = skinsdb
	url = git@github.com:blockalot/skinsdb.git
[submodule "meshport"]
	path = meshport
	url = git@github.com:random-geek/meshport.git
[submodule "digicontrol"]
	path = digicontrol
	url = git@github.com:OgelGames/digicontrol.git
[submodule "led_marquee"]
	path = led_marquee
	url = git@github.com:mt-mods/led_marquee.git
[submodule "basic_machines"]
	path = basic_machines
	url = git@github.com:ac-minetest/basic_machines.git
[submodule "mtobjid"]
	path = mtobjid
	url = https://codeberg.org/zeuner/mtobjid.git
[submodule "mobconf"]
	path = mobconf
	url = https://codeberg.org/zeuner/mobconf
[submodule "lmz_opening_hours"]
	path = lmz_opening_hours
	url = git@github.com:blockalot/lmz_opening_hours.git
[submodule "hud_notify"]
	path = hud_notify
	url = https://github.com/MT-CTF/hud_notify
[submodule "player_monoids"]
	path = player_monoids
	url = https://github.com/minetest-mods/player_monoids
[submodule "wesh"]
	path = wesh
	url = https://github.com/entuland/wesh
[submodule "spawnpoint"]
	path = spawnpoint
	url = https://github.com/blockalot/spawnpoint
[submodule "Minetest-WorldEditAdditions"]
	path = Minetest-WorldEditAdditions
	url = https://github.com/sbrl/Minetest-WorldEditAdditions
[submodule "flyspeed"]
	path = flyspeed
	url = https://github.com/rollerozxa/flyspeed
[submodule "3d_armor_flyswim"]
	path = 3d_armor_flyswim
	url = https://github.com/sirrobzeroone/3d_armor_flyswim
[submodule "mt_biblebot"]
	path = mt_biblebot
	url = https://github.com/maikerumine/mt_biblebot
[submodule "fmod"]
	path = fmod
	url = https://github.com/fluxionary/minetest-fmod
[submodule "futil"]
	path = futil
	url = https://github.com/fluxionary/minetest-futil
[submodule "mesecons_audio"]
	path = mesecons_audio
	url = git@github.com:blockalot/mesecons_audio.git
[submodule "lwscratch"]
	path = lwscratch
	url = https://github.com/loosewheel/lwscratch
[submodule "petz"]
	path = petz
	url = git@github.com:blockalot/petz.git
[submodule "advtrains"]
	path = advtrains
	url = https://git.bananach.space/advtrains.git
[submodule "bike"]
	path = bike
	url = https://gitlab.com/h2mm/bike/
[submodule "bonemeal"]
	path = bonemeal
	url = https://codeberg.org/tenplus1/bonemeal
[submodule "farming"]
	path = farming
	url = https://codeberg.org/tenplus1/farming
[submodule "better_nametags"]
	path = better_nametags
	url = https://notabug.org/Piezo_/minetest-better_nametags
[submodule "mob_horse"]
	path = mob_horse
	url = https://codeberg.org/tenplus1/mob_horse
[submodule "mobs_animal"]
	path = mobs_animal
	url = https://codeberg.org/tenplus1/mobs_animal
[submodule "mobs_npc"]
	path = mobs_npc
	url = https://codeberg.org/tenplus1/mobs_npc
[submodule "mobs_redo"]
	path = mobs_redo
	url = https://codeberg.org/tenplus1/mobs_redo
[submodule "wiki"]
	path = wiki
	url = https://github.com/minetest-mods/wiki
[submodule "pontoons"]
	path = pontoons
	url = https://github.com/minetest-mods/pontoons
[submodule "vbots"]
	path = vbots
	url = https://github.com/blockalot/vbots
[submodule "bakedclay"]
	path = bakedclay
	url = https://codeberg.org/tenplus1/bakedclay
[submodule "playertools"]
	path = playertools
	url = git://repo.or.cz/minetest_playertools.git
[submodule "minetest-smartshop"]
	path = minetest-smartshop
	url = https://github.com/fluxionary/minetest-smartshop
[submodule "smartshop"]
	path = smartshop
	url = https://github.com/fluxionary/minetest-smartshop
[submodule "cblocks"]
	path = cblocks
	url = https://codeberg.org/tenplus1/cblocks
[submodule "wine"]
	path = wine
	url = https://codeberg.org/tenplus1/wine
[submodule "protector"]
	path = protector
	url = https://codeberg.org/tenplus1/protector
[submodule "xocean"]
	path = xocean
	url = https://github.com/starninjas/xocean
[submodule "display_modpack"]
	path = display_modpack
	url = https://github.com/mt-mods/display_modpack
[submodule "basic_trains"]
	path = basic_trains
	url = http://git.bananach.space/basic_trains.git/
